jupyterlab
ipywidgets
ipykernel
tqdm
jupyter-server-proxy
jupyter-vscode-proxy

torch
torchvision
torchaudio
transformers
sentence-transformers
huggingface-hub
scikit-learn

Pillow
matplotlib
plotly
igraph
jgraph
pprintpp
pandas

python-dotenv
